@tailwind base;
@tailwind components;
@tailwind utilities;

.buttonSocialNetwork {
    /* text-transform: capitalize!important; */
    width: 200px!important;
    height: 50px!important;
    padding: 5px!important;
    margin: 5px!important;
    /* border-color: black!important; */
    border-radius: 5px!important;
    background-color: rgb(255, 255, 255)!important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px!important;
}
